<div class="loginCont grid grid-rows-1">
  <div class="titleLogin mx-auto my-2 text-3xl">Register</div>
</div>
<div class="formLogIn grid grid-rows-2 text-center gap-2 mx-4">
  <div class="grid grid-rows-1">
    <input
      type="text"
      name="user"
      id="Email"
      class="transition-all ease-in-out userInput text-center border-2 rounded border-black text-xl hover:scale-105"
      placeholder="Username"
      (input)="onInputChange($event)"
    />

  </div>

  <div class="grid grid-rows-1">
    <input
      type="password"
      name="pass"
      id="Password"
      class="transition-all ease-in-out passInput text-center border-2 rounded border-black text-xl hover:scale-105"
      placeholder="Password"
      (input)="onInputChange($event)"
    />
  </div>
</div>
<div class="grid grid-rows-1 mx-4 my-2">
  <button (click)="register()"
          class="transition-all hover:bg-blue-600 hover:scale-105 rounded bg-blue-400 px-3 py-1 text-white w-full">
    Register
  </button>
</div>
