<div class="grid grid-rows-1">
  <div class="flex justify-between">
    <div
      class="transition-all ease-in-out hover:scale-105 titleLogin mx-3 my-2 text-3xl text-zinc-800 font-bold">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
    <div class="title my-2 text-2xl text-zinc-800 font-bold">
      AdMeet
    </div>
    <!-- Put the logout button on right corner -->
    <div class="buttonsOnRight mx-3 my-2">
      <fa-icon [icon]="faCircleUser" class="text-3xl text-zinc-800 transition-all ease-in-out hover:scale-105"
               (click)="goToProfile()"></fa-icon>
    </div>

  </div>
</div>
